/* PARTIE ADMINISTRATION */
/*///////////////////////////////////////////////////////////////////////
////  _____________________________________________________________  ////
////  |                                                           |  ////
////  |      _/_/_/    _/    _/_/    _/_/_/     _/         _/_/   |  ////
////  |     _/    _/      _/    _/  _/    _/   _/       _/    _/  |  ////
////  |    _/    _/  _/  _/_/_/_/  _/_/_/     _/       _/    _/   |  ////
////  |   _/    _/  _/  _/    _/  _/     _/  _/       _/    _/    |  ////
////  |  _/_/_/    _/  _/    _/  _/_/_/_/   _/_/_/_/   _/_/       |  ////
////  |                                                           |  ////
////  |           _/_/_/     _/_/_/      _/_/      _/_/_/         |  ////
////  |          _/    _/   _/   _/   _/    _/  _/                |  ////
////  |         _/_/_/     _/_/_/    _/    _/    _/_/             |  ////
////  |        _/     _/  _/    _/  _/    _/        _/            |  ////
////  |       _/_/_/_/   _/    _/    _/_/    _/_/_/  . lab's      |  ////
////  |                                                           |  ////  
////  |   By fearil - Diablobros Lab's & Net service Aquitaine    |  ////  
////  ____________________________________________________________   ////  
////                                                                 ////
///////////////////////////////////////////////////////////////////////*/
#formulaire form .encadre {
	text-align: left;
}

h1 {
	text-align:center;
	font-size:20px;
	background:#BD925A;
	color:#EFE4D6;
}
h2 {
	color:#BD925A;
	font-size:18px;
}
div#formulaire {
	border:1px solid #BD925A;
	width:48%;
	float:left;
	margin:5px;
	padding:5px;
	text-align: right;
}
div#listing {
	border:1px solid #BD925A;
	width:48%;
	float:right;
	margin:5px;
	padding:5px;
}
th {
	text-align:right;
}
